@import url("https://fonts.googleapis.com/css?family=Bebas Neue");
@import url("https://fonts.googleapis.com/css?family=Smooch Sans");

body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Design Navigational Bar */
.top-nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4a412a;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    z-index: 1000;
    transition: background 0.3s ease-in-out;
}

.logo img{
    height: 90px;
    width: auto;
}

.navbar {
    display: flex;
    gap: 50px;
    margin-left: 10px;
}

.navbar a {
    font-family: Bebas Neue, Helvetica, sans-serif;
    text-decoration: none;
    color: #f4e4ba;
    font-size: 22px;
    padding: 20px 25px;
    transition: background 0.3s ease-in-out;
    border-radius: 2.5px;
}

.navbar a:hover {
    background-color:#175676;
    color:white;
}

/* Wrapper Design */
.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Design Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
}

.hero-content {
    flex: 1;
    max-width: 500px;
}

 h1 {
    text-align:center;
    font-size: 60px;
    margin-bottom: 15px;
    color: #a89db4;
    font-family: Bebas Neue, Helvetica, sans-serif;
    margin-top:50px;
    margin-bottom:auto;
}


.hero-image-container img{
    width: 100%;
    border-radius: 10px;
    margin:auto;
}

/* About Design */
.about{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 15px;
    margin-bottom:1px;
}
.about:after {
    content: "";
    display: table;
    clear: both;
  }
.column {
    background-color: #175676;
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
    font-size: 25px;
    color: #f4e4ba;
    font-family: Smooch Sans, Helvetica, sans-serif;
    border-radius:10px;
    padding-bottom:80px;
}
.column h1{
    color: #f4e4ba;
    font-family: Smooch Sans, Helvetica, sans-serif;
    padding:30px;
    padding-top:0px;
    text-decoration-line: underline;
    text-underline-offset: .22em;
}
.questions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 40px;
    padding: 20px;
    
}


img {
    border-radius:10px;
    align-items:center;
    display:block;
    margin:auto;
}

.techniques{
    background-color: #175676;
    background-size: cover;
    padding: 40px;
    box-sizing: border-box;
    font-size: 25px;
    color: #f4e4ba;
    font-family: Smooch Sans, Helvetica, sans-serif;
    border-radius:10px;
    margin: 50px;
    text-align:center;
}


/* Footer Design */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#a89db4;
    color: white;
    padding: 20px;
    flex-wrap: wrap;
}
.footer-logo img {
    width: 150px;
    height: auto;
}

.footer-links {
    display: flex;
    justify-content: left;
    gap: 20px;
    flex-grow: 1;
    padding-left: 40px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    transition: color 0.3s;
    font-family: Smooch Sans, Helvetica, sans-serif;
}

.footer-links a:hover {
    color: #175676;
}

.footer-license {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    opacity: 0.7;
    font-family: Smooch Sans, Helvetica, sans-serif;
}
